.box{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border: 6px solid black;
    border-radius: 30px;

}
.line-one{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;

}
.red{
    background: red;
}
.yellow{
    background: orange;
}
.blue{
    background-color: blue;
}
.purple{
    background: purple;
}

.line-two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    }
    h1,h2{
        text-align: center;
        font-weight: bold;
    }
    .flash{
        background-color: white;
    }
    .userflash{
        background: green;
    }
    .body{
        background: red;
    }

   .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 4rem;
   }
    .start{
        margin-left: 43rem;
        margin-top:4rem;
        transform: scale(1.8);
        /* transform: translateX(50%); */
        cursor: pointer;
        background: green;
        color: white;
    }
    .restart{
        margin-left: 3rem;
        transform: scale(1.6);
        /* transform: translateX(50%); */
        cursor: pointer;
        background: green;
        color: white;
    }
    @media (max-width:500px){
        .start{
            margin-left: 8.5rem;
            margin-top:2rem;
          
          
        }
        .restart{
            margin-left: 3rem;
        }
    }
